<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="/stylesheet/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Photo Gallery</h1>
    <div id="photos">
      <img src="/images/ashour2.jpg" alt="" />
      <img src="/images/ashour3.png" alt="" />
      <img src="/images/ashour4.jpg" alt="" />
    </div>
    <script src="/scripts/main.js"></script>
  </body>
</html>
